APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

# Swagger and APIs
L5_SWAGGER_CONST_HOST=http://127.0.0.1:8000
CLOUDINARY_URL=cloudinary://your_key_here
PRODUCT_API_URL=https://api.prod.vivafresh.shop/api/shop/product-loyalty?organization_id=9&page=2&per_page=11

# Database
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel_test
DB_USERNAME=postgres
DB_PASSWORD=secret

# Other configs
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
